# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oat]
*~
*.swp
*.swo
*.log
*.status
*.so
*.pyc
*.dirstamp
Makefile
core
cscope.*
dmtcpaware*
*aclocal.m4*

autom4te.cache

CRUM_plugin/bin/
CRUM_plugin/lib/
CRUM_plugin/local/
CRUM_plugin/include/config.h
CRUM_plugin/include/dmtcp.h
CRUM_plugin/include/stamp-h1
CRUM_plugin/dmtcp/src/dmtcp_checkpoint
CRUM_plugin/dmtcp/src/dmtcp_launch
CRUM_plugin/dmtcp/src/dmtcp_command
CRUM_plugin/dmtcp/src/dmtcp_coordinator
CRUM_plugin/dmtcp/src/dmtcp_nocheckpoint
CRUM_plugin/dmtcp/src/dmtcp_restart
CRUM_plugin/dmtcp/src/libdmtcpaware.so*
CRUM_plugin/plugin/ipc/dmtcp_ssh*
CRUM_plugin/dmtcp_discover_rm
CRUM_plugin/dmtcp_srun_helper

CRUM_plugin/mtcp/libmtcp.so*
CRUM_plugin/mtcp/mtcp.lis
CRUM_plugin/mtcp/mtcp.map
CRUM_plugin/mtcp/mtcp_restart
CRUM_plugin/mtcp/readmtcp
CRUM_plugin/mtcp/mtcp.t.orig
CRUM_plugin/mtcp/testmtcp6
CRUM_plugin/mtcp/util-arch

CRAC_plugin/bin/
CRAC_plugin/lib/
CRAC_plugin/local/
CRAC_plugin/include/config.h
CRAC_plugin/include/dmtcp.h
CRAC_plugin/include/stamp-h1
CRAC_plugin/dmtcp/src/dmtcp_checkpoint
CRAC_plugin/dmtcp/src/dmtcp_launch
CRAC_plugin/dmtcp/src/dmtcp_command
CRAC_plugin/dmtcp/src/dmtcp_coordinator
CRAC_plugin/dmtcp/src/dmtcp_nocheckpoint
CRAC_plugin/dmtcp/src/dmtcp_restart
CRAC_plugin/dmtcp/src/libdmtcpaware.so*
CRAC_plugin/plugin/ipc/dmtcp_ssh*
CRAC_plugin/dmtcp_discover_rm
CRAC_plugin/dmtcp_srun_helper

CRAC_plugin/mtcp/libmtcp.so*
CRAC_plugin/mtcp/mtcp.lis
CRAC_plugin/mtcp/mtcp.map
CRAC_plugin/mtcp/mtcp_restart
CRAC_plugin/mtcp/readmtcp
CRAC_plugin/mtcp/mtcp.t.orig
CRAC_plugin/mtcp/testmtcp6
CRAC_plugin/mtcp/util-arch

CRUM_plugin/test/*
CRAC_plugin/test/*
!*.{c,h,cpp,java,py,in}
CRUM_plugin/test/testconfig.py
CRAC_plugin/test/testconfig.py

*.deps*

ckpt_*.dmtcp
dmtcp_restart_script*


tracelog.txt
